/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require twitter/bootstrap-no-sprites
 *= require_self
 *= require_tree .
 */
body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding-top: 50px;
}

.black-transparent-box {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.black-transparent-box label{
	color: #555;
}

.black-transparent-box li.active > a{
	background-color: rgba(245,245,245,.93)
}

.black-transparent-box li > a{
	color: #E0F2F7;
}

.black-transparent-box li > a:hover{
	color: black;
}

.grey-box {
  background: rgba(245, 245, 245, .93);
  color: black;
  padding: 20px;
}

.grey-box label{
	color: black;
}

.grey-box hr {
	background-color: #49708A;
	height: 3px;
}

.root {
	margin-top: 30px;
}
.well{
	color: #000;
}

.display-name {
	font-size: 20px;
}

.text-message {
	font-size: 15px;
	color: #333;
}

.light, .light-span {
	font-size: 11px;
	color: #AAA;
}


.full_width {
	width: 95%;
}

.avatar{
	height: 20px;
	margin-right: 1px;
	margin-top: 0px;
}

#post_tabs{
	margin-bottom: 0px;
}

#text_post{
	padding: 15px;
	background: rgba(245, 245, 245, .93);
}

#link_post{
  padding: 15px;
  background: rgba(245, 245, 245, .93);
}

#image_post{
  padding: 15px;
  background: rgba(245, 245, 245, .93);
}

.main-image{
	position: fixed;
	min-width: 1024px;
	min-height: 800px;
	top: 39px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: -4;
}

.flashes {
	max-height: 40px;
}

.current{
	padding-right: 12px;
	background-repeat: no-repeat;
	background-position: right center;
}

.td-text-right{
	text-align: right;
}